# Trash
*.*~
\#*#
*.swp
.DS_Store

# Test files
test*
mocks/

# Build dirs/files
app/
app_build/
_build/
.flatpak-builder/
repo/
*.flatpak
.buildconfig

# IDE dirs
.vscode/
.idea/

# i18n
po/*.pot

/.cache
/compile_commands.json
